# Application
NODE_ENV=development
PORT=3000

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=ecl-todo
POSTGRES_PORT=5432

# Prisma
DATABASE_URL=postgresql://admin:admin123@localhost:5432/ecl-todo?schema=public

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

# Gateway
GATEWAY_URL_DEV=http://localhost:5713
GATEWAY_URL_UAT=http://todo-gateway-uat.excodelabs.com
GATEWAY_URL_PROD=https://todo-gateway.excodelabs.com